<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ingentive.qrme">

    <!-- Add these permissions to your own app. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.AppController"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="AA_DB_NAME"
            android:value="qrmedatabase.db" />

        <!-- Notice this tag which provides the database version -->
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="2" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.ingentive.qrme.activeandroid.UserInfoTable,             com.ingentive.qrme.activeandroid.UsersTable,             com.ingentive.qrme.activeandroid.QRHistoryTable" />

        <activity
            android:name=".activity.UserInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QRDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.GenerateQRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QRListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ScanQRAactivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VideoViewActivity"
            android:screenOrientation="sensor" />

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data
                android:host="t4jsample"
                android:scheme="oauth" />
        </intent-filter>

        <activity android:name=".activity.WebViewActivity" />
        <activity android:name=".activity.ContactsActivity" />
        <activity android:name=".activity.QRHistoryActivity" />
        <activity
            android:name=".activity.ProfileActivity"
            android:parentActivityName=".activity.MainActivity" />
        <activity android:name=".activity.SettingsActivity" />
        <activity
            android:name=".activity.MakeVideoActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".common.NetworkChangeReceiver"
            android:label="NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.ShareActivity" />
        <activity android:name=".activity.VideoCaptureActivity" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider234202803622041"
            android:exported="true" />
    </application>

</manifest>
